@import "tailwindcss";


/* Scroll suave */
html {
  scroll-behavior: smooth;
}


/* Animaciones personalizadas */
@keyframes bounce-slow {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

.animate-bounce-slow {
  animation: bounce-slow 1.5s infinite;
}
